<tr>
  <td><%= device.name %></td>
  <td><%= device.description %></td>
  <td><%= device.items %></td>
  <td><%= device.user.name %></td>
  <td><%= link_to 'Show', device %></td>
  <td><%= link_to 'Edit', edit_device_path(device) %></td>
  <td><%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
